// bricklayer
.bricklayer
  div
    margin: 0vw 1vw 4vw 8px
  video
    width: 100%
    height: auto

@media screen and (min-width: 768px)
  .bricklayer-column-sizer
    /* divide by 2. */
    width: 50%


// @media screen and (min-width: 400px)
//   .bricklayer-column-sizer
//     /* divide by 3. */
//     width: 33.3%
