.bricklayer div {
  margin: 0vw 1vw 4vw 8px; }

.bricklayer video {
  width: 100%;
  height: auto; }

@media screen and (min-width: 768px) {
  .bricklayer-column-sizer {
    /* divide by 2. */
    width: 50%; } }

.fade {
  animation-name: fade;
  animation-duration: 2s; }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #383838; }

p {
  line-height: 1.4em; }

a {
  line-height: 1.4em; }

h2 {
  margin-top: 2em; }

a {
  text-decoration: none;
  color: #383838; }

img {
  width: 100%;
  height: auto; }

.container {
  margin: 0 4vw; }

.col {
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px; }
  @media (max-width: 420px) {
    .col {
      width: calc(100% - 40px);
      float: left;
      margin-left: 20px; } }
  .col p {
    line-height: 1.4em; }

.border {
  border: 1px solid #dde4e6; }

.lone-standing {
  margin: 13vh 0; }
  .lone-standing h2 {
    margin-top: 0; }

.button, .button-header {
  background: transparent;
  border: 2px solid #383838;
  padding: 0.5em 0.9em;
  color: #383838;
  font-size: 1.1em;
  cursor: pointer;
  text-decoration: none;
  margin-top: 2vh; }
  .button:hover, .button-header:hover {
    color: #9b59b6;
    border: 2px solid #9b59b6;
    transition: border .4s, color .4s; }

.button-header {
  margin-top: 0;
  position: absolute;
  bottom: 5vh;
  right: 2vw;
  border: 4px solid #383838;
  padding: 0.8em 1.2em;
  font-size: 1.4em;
  font-weight: bold; }
  .button-header:hover {
    color: #9b59b6;
    border: 4px solid #9b59b6;
    transition: border .4s, color .4s; }

.offset {
  margin-left: 20px; }

.greyed {
  color: #6b6b6b; }

header {
  height: 100vh;
  background: #fbfcfc;
  border-bottom: 1px solid #dde4e6;
  position: relative;
  margin-bottom: 10vh; }
  header.home {
    margin-bottom: 0; }
  header .header-col {
    width: 50vw;
    height: 100vh;
    position: relative;
    display: inline-block; }
    @media (max-width: 420px) {
      header .header-col {
        width: 100vw; } }
  header .heading-box {
    margin-top: 20vh; }
  header .meta-info {
    margin-bottom: 0.4em; }
  header .heading {
    margin: 0 auto;
    font-size: 3em; }
  header .subheading {
    font-size: 2em;
    margin: 0 0 .4em 0; }
  header a.sub-links {
    margin-right: 1em; }
    header a.sub-links svg {
      padding-right: 0.3em; }
  header .header-image {
    width: 48vw;
    height: 100vh;
    float: right;
    display: inline-block; }
    @media (max-width: 420px) {
      header .header-image {
        width: 100vw; } }
    header .header-image.home {
      background: #95a5a6; }
    header .header-image img {
      float: right;
      height: 100%;
      width: auto; }

.center-content {
  text-align: center; }

.img-smaller {
  width: 75%;
  border: 1px solid #c0cdd1; }

.half-width-text {
  width: 40vw;
  line-height: 1.4em; }
  @media (max-width: 420px) {
    .half-width-text {
      width: 100vw; } }

.images-in-row img {
  display: inline-block;
  width: 30vw;
  border: 1px solid #c0cdd1;
  margin: 2vw; }
  .images-in-row img.big {
    width: 64vw; }

.images-in-row-full-height img {
  display: inline-block;
  width: auto;
  height: 70vh;
  border: 1px solid #c0cdd1;
  margin: 2vw; }
  .images-in-row-full-height img.big {
    width: 64vw; }

.margin {
  margin: 2vw; }

nav ul {
  padding: 0; }
  nav ul li {
    list-style-type: none;
    display: inline;
    padding: 0 .5em; }
    nav ul li a {
      text-transform: uppercase;
      text-decoration: none;
      color: #383838;
      font-size: 0.9em; }
      nav ul li a.active {
        text-decoration: underline; }

.project-section {
  cursor: pointer; }
  .project-section::after {
    clear: both;
    content: "";
    display: block; }
  .project-section.shelf-section {
    background: transparent;
    -webkit-transition: background .5s;
    transition: background .5s; }
    .project-section.shelf-section:hover {
      background: #fff4b5; }
      .project-section.shelf-section:hover article.shelf {
        background: transparent;
        -webkit-transition: background .5s;
        transition: background .5s; }
  .project-section.euro-section {
    background: transparent;
    -webkit-transition: background .5s;
    transition: background .5s; }
    .project-section.euro-section:hover {
      background: #b1e0c2; }
      .project-section.euro-section:hover article.euro {
        background: transparent;
        -webkit-transition: background .5s;
        transition: background .5s; }
  .project-section.golem-section {
    background: transparent;
    -webkit-transition: background .5s;
    transition: background .5s; }
    .project-section.golem-section:hover {
      background: #a098cb; }
      .project-section.golem-section:hover article.golem {
        background: transparent;
        -webkit-transition: background .5s;
        transition: background .5s; }
  .project-section article {
    margin-top: 7vh;
    margin-bottom: 7vh; }
    @media (max-width: 420px) {
      .project-section article {
        margin: 0; } }
    .project-section article.shelf {
      background: #fff4b5; }
    .project-section article.euro {
      background: #b1e0c2; }
    .project-section article.golem {
      background: #a098cb; }

footer.container {
  margin-top: 10vh; }
  footer.container ul {
    padding-left: 0; }
    footer.container ul li {
      list-style-type: none; }
  footer.container #copyright {
    font-size: .85em; }
